<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
</head>

<form method="post" action="/post_user">
  <header>Create Account</header>
  <div class="content">
  <label>First Name:<span>*</span></label>
  <input id="first_name" name="first_name" type="text"/>

  <label>Last Name: <span>*</span></label>
  <input id="last_name" name="last_name" type="text"/>

  <label>Username: <span>*</span></label>
  <input id="username" name="username" type="text"/>
    <div class="help">At least 6 character</div>

  <label>Password:<span>*</span></label>
  <input id="password" name="password" type="text"/>
  <div class="help">Use upper and lowercase letters as well</div>
  </div>

  <input type="submit" value="Login"/>
</form>


</body>
</html>
