{% extends "layouts/layout1.html" %}
{% block title %}
Index
{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="/static/img/starWars.jpeg" alt="Star Wars Movie Poster">
        <div class="intro-text">
          <span class="name">Team 4 Movie Tracker</span>
          <hr class="star-light">
          <span class="skills">Find your favorite movies and shows!</span>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
        <h2 class="text-center">Search Results</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            {% for movie in movies %}
            <h2 class="movie-title">{{ movie.title }}</h2>
            <p>{{ movie.description }}</p>
            <p>{{ movie.releaseDate }}</p>
            <p>{{ movie.producer }}</p>
            <p>{{ movie.genre }}</p>
            <p><a href="https://imgbb.com/"><img src="{{ movie.image }}" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'></a><br /></p>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}