{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block title %}
Movie/TV Show Description
{% endblock %}

{% block pagetitle %}
Information
{% endblock %}

{% block content %}
<!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <h2 class="movie-title">{{ result.title }}</h2>
            <p>{{ result.description }}</p>
            <p>{{ result.releaseDate }}</p>
            <p>{{ result.producer }}</p>
            <p>{{ result.genre }}</p>
            <p><a href="/MovieTVShowDescription/{{ result.title }}"><img src="{{ result.image }}" border="0"></a><br /><a></a><br /></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}