{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block title %}
Login Page
{% endblock %}

{% block pagetitle %}
Profile
{% endblock %}

{% block content %}
<section id="portfolio">
      <div class="container">
        <h2 class="text-center">Recommendations</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            {% for recommendation in recommendations %}
            <h2 class="movie-title">{{ recommendation.title }}</h2>
            <p><a href="https://imgbb.com/"><img src="{{ recommendation.image }}" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'></a><br /></p>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}