{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block title %}
Login Page
{% endblock %}

{% block pagetitle %}
Profile
{% endblock %}


{% block addMovieButton %}
<a class="nav-link js-scroll-trigger" href="/addMovie/<isUser>">Add Movie</a>
{% endblock %}

{% block profileButton %}
<a class="nav-link js-scroll-trigger" href="/profile/<email>">Profile</a>
{% endblock %}

{% block logoutButton %}
<a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
{% endblock %}

{% block content %}

{% endblock %}